# these libs are requested to build application env

solara>=1.50.0 
uvicorn<0.30
ee-client>=2.4.0

toml

ipecharts>=1.2.0
rasterio<1.3.11 # Leave it here even if it's already in the sepal_ui requirements. Check https://github.com/openforis/sepal/issues/328

git+https://github.com/openforis/sepal_ui@cca3aa2481500e5df49d7cab7afc208bd02f29d5

https://github.com/dfguerrerom/ipyleaflet/raw/refs/heads/master/wheels/jupyter_leaflet-0.20.0-py3-none-any.whl
https://github.com/dfguerrerom/ipyleaflet/raw/refs/heads/master/wheels/ipyleaflet-0.20.0-py3-none-any.whl

# custom libs
earthengine-api<1.6
pandas
Shapely
matplotlib
geopandas
numpy
numexpr

# even though it will installed by sepal_ui, I want to point out that it is required by the app
pygaul

# For testing
pytest
pytest-cov

# for development
colorlog