# these libs are requested to build application env
jupyter
voila
toml

git+git@github.com:12rambau/sepal_ui.git@5277a82db3fe4e5bb971eb6676b28d9652b90564

# custom libs
earthengine-api
pandas
Shapely
matplotlib
geopandas
numpy
ipyleaflet
numexpr

# To make it work on sepal
ipyvuetify==1.8.1
ipywidgets==7.6.5